<div class="column is-mobile is-half-tablet is-one-quarter-desktop">
  <div class="tile is-parent">
    <article class="tile is-child box tile-riff"
      data-authored="<% if (user) { %>1<% } else { %>0<%}%>"
      data-username="">
      <div class="overlay">
        <div class="overlay-text"> + </div>
      </div>
      <div class="tile-shine">
        <div class="tile-title">
          <div class="status-bar">
            <div class="riff-user"></div>
          </div>
          <p class="riff-title">
            New Riff
          </p>
        </div>
        <div class="content">
          <div class="columns is-flex">
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-0"
                     id="step-0">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-1"
                     id="step-1">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-2"
                     id="step-2">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-3"
                     id="step-3">
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-flex">
            <div class="column">
              <div class="step-wrapper">
                <div class="step step-4"
                     id="step-4">
                </div>
              </div>
            </div>
            <div class="column">
              <div class="step-wrapper">
                <div class="step step-5"
                     id="step-5">
                </div>
              </div>
            </div>
            <div class="column">
              <div class="step-wrapper">
                <div class="step step-6"
                     id="step-6">
                </div>
              </div>
            </div>
            <div class="column">
              <div class="step-wrapper">
                <div class="step step-7"
                     id="step-7">
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-flex">
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-8"
                     id="step-8">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-9"
                     id="step-9">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-10"
                     id="step-10">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-11"
                     id="step-11">
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-flex">
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-12"
                     id="step-12">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-13"
                     id="step-13">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-14"
                     id="step-14">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-15"
                     id="step-15">
                </div>
              </div>
            </div>
          </div>
          <div class="columns control-row is-flex">
            <div class="tile-controller">
              <input class="controller-btn controller-play tile-radio" type="radio" value="play"
                     name="radio->"
                     data-icon="►" data-id="">
              <input class="controller-btn controller-stop tile-radio" type="radio" value="stop"
                     name="radio-"
                     data-icon="◼" data-id="">
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>