<% if (filter.type == "user") { %>
  <div class="tile notification">
    <h3 class="title is-5">Filtering By User</h3>
  </div>
<% } %>
<div class="section">
  <div class="columns is-gapless is-multiline">
    <% include ../partials/tileblock %>
  </div>
</div>
