<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <i class="fa fa-star-o favorite" id="modal-favorite" aria-hidden="true"></i>
      <input class="modal-card-title input" id="modal-title-input" type="text" placeholder="Riff #">
      </input>
    </header>
    <section class="modal-card-body">
      <div class="columns is-mobile">

        <div class="column is-narrow">
          <table class="table is-narrow is-bordered" id="modal-key-table">
            <thead>
              <tr>
                <th class="modal-key-table-head has-text-centered">
                  <abbr title="Octave">P8</abbr>
                </th>
                <th class="modal-key-table-head has-text-centered">
                  <abbr title="Flat">&#9837;</abbr>
                </th>
                <th class="modal-key-table-head">Key</th>
                <th class="modal-key-table-head has-text-centered">
                  <abbr title="Sharp">&#9839;</abbr>
                </th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td>
                  <select class="p8-option" id="C-p8-option">
                    <option>1</option>
                    <option>2</option>
                    <option selected>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                </td>
                <td>
                  <label class="checkbox mod-check" id="Cb-checkbox">
                    <input type="checkbox" id="Cb-check">
                  </label>
                </td>
                <td class="has-text-centered step-selector" id="C-step-selector" value="C3">C</td>
                <td>
                  <label class="checkbox mod-check" id="Cs-checkbox">
                    <input type="checkbox" id="Cs-check">
                  </label>
                </td>
              </tr>

              <tr>
                <td>
                  <select class="p8-option" id="D-p8-option">
                    <option>1</option>
                    <option>2</option>
                    <option selected>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                </td>
                <td>
                  <label class="checkbox mod-check" id="Db-checkbox">
                    <input type="checkbox" id="Db-check">
                  </label>
                </td>
                <td class="has-text-centered step-selector" id="D-step-selector" value="D3">D</td>
                <td>
                  <label class="checkbox mod-check" id="Ds-checkbox">
                    <input type="checkbox" id="Ds-check">
                  </label>
                </td>
              </tr>

              <tr>
                <td>
                  <select class="p8-option" id="E-p8-option">
                    <option>1</option>
                    <option>2</option>
                    <option selected>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                </td>
                <td>
                  <label class="checkbox mod-check" id="Eb-checkbox">
                    <input type="checkbox" id="Eb-check">
                  </label>
                </td>
                <td class="has-text-centered step-selector" id="E-step-selector" value="E3">E</td>
                <td>
                  <label class="checkbox mod-check" id="Es-checkbox">
                    <input type="checkbox" id="Es-check">
                  </label>
                </td>
              </tr>

              <tr>
                <td>
                  <select class="p8-option" id="F-p8-option">
                    <option>1</option>
                    <option>2</option>
                    <option selected>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                </td>
                <td>
                  <label class="checkbox mod-check" id="Fb-checkbox">
                    <input type="checkbox" id="Fb-check">
                  </label>
                </td>
                <td class="has-text-centered step-selector" id="F-step-selector" value="F3">F</td>
                <td>
                  <label class="checkbox mod-check" id="Fs-checkbox">
                    <input type="checkbox" id="Fs-check">
                  </label>
                </td>
              </tr>

              <tr>
                <td>
                  <select class="p8-option" id="G-p8-option">
                    <option>1</option>
                    <option>2</option>
                    <option selected>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                </td>
                <td>
                  <label class="checkbox mod-check" id="Gb-checkbox">
                    <input type="checkbox" id="Gb-check">
                  </label>
                </td>
                <td class="has-text-centered step-selector" id="G-step-selector" value="G3">G</td>
                <td>
                  <label class="checkbox mod-check" id="Gs-checkbox">
                    <input type="checkbox" id="Gs-check">
                  </label>
                </td>
              </tr>

              <tr>
                <td>
                  <select class="p8-option" id="A-p8-option">
                    <option>1</option>
                    <option>2</option>
                    <option selected>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                </td>
                <td>
                  <label class="checkbox mod-check" id="Ab-checkbox">
                    <input type="checkbox" id="Ab-check">
                  </label>
                </td>
                <td class="has-text-centered step-selector" id="A-step-selector" value="A3">A</td>
                <td>
                  <label class="checkbox mod-check" id="As-checkbox">
                    <input type="checkbox" id="As-check">
                  </label>
                </td>
              </tr>

              <tr>
                <td>
                  <select class="p8-option" id="B-p8-option">
                    <option>1</option>
                    <option>2</option>
                    <option selected>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                </td>
                <td>
                  <label class="checkbox mod-check" id="Bb-checkbox">
                    <input type="checkbox" id="Bb-check">
                  </label>
                </td>
                <td class="has-text-centered step-selector" id="B-step-selector" value="B3">B</td>
                <td>
                  <label class="checkbox mod-check" id="Bs-checkbox">
                    <input type="checkbox" id="Bs-check">
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="columns is-gapless is-mobile">
            <div class="column has-text-centered">
              <button id="kick_button" class="button step-selector">
                <img src="/assets/img/bass.png" class="percussion-icon">
              </button>
            </div>
            <div class="column has-text-centered">
              <button id="snare_button" class="button step-selector">
                <img src="/assets/img/snare.png" class="percussion-icon">
              </button>
            </div>
            <div class="column has-text-centered">
              <button id="cymbal_button" class="button step-selector">
                <img src="/assets/img/cymbals.png" class="percussion-icon">
              </button>
            </div>
          </div>
        </div>

        <div class="column" id="step-grid">

          <div class="columns is-flex">
            <div class="column is-3">
              <div class="step step-grey modal-step unclicked" data-id="0" id="modal-step-0">
              </div>
            </div>
            <div class="column is-3">
              <div class="step step-grey modal-step unclicked" data-id="1" id="modal-step-1">
              </div>
            </div>
            <div class="column is-3">
              <div class="step step-grey modal-step unclicked" data-id="2" id="modal-step-2">
              </div>
            </div>
            <div class="column is-3">
              <div class="step step-grey modal-step unclicked" data-id="3" id="modal-step-3">
              </div>
            </div>
          </div>
          <div class="columns is-flex">
            <div class="column is-3">
              <div class="step step-grey modal-step unclicked" data-id="4" id="modal-step-4">
              </div>
            </div>
            <div class="column is-3">
              <div class="step step-grey modal-step unclicked" data-id="5" id="modal-step-5">
              </div>
            </div>
            <div class="column is-3">
              <div class="step step-grey modal-step unclicked" data-id="6" id="modal-step-6">
              </div>
            </div>
            <div class="column is-3">
              <div class="step step-grey modal-step unclicked" data-id="7" id="modal-step-7">
              </div>
            </div>
          </div>
          <div class="columns is-flex">
            <div class="column is-3">
              <div class="step step-grey modal-step unclicked" data-id="8" id="modal-step-8">
              </div>
            </div>
            <div class="column is-3">
              <div class="step step-grey modal-step unclicked" data-id="9" id="modal-step-9">
              </div>
            </div>
            <div class="column is-3">
              <div class="step step-grey modal-step unclicked" data-id="10" id="modal-step-10">
              </div>
            </div>
            <div class="column is-3">
              <div class="step step-grey modal-step unclicked" data-id="11" id="modal-step-11">
              </div>
            </div>
          </div>
          <div class="columns is-flex">
            <div class="column is-3">
              <div class="step step-grey modal-step unclicked" data-id="12" id="modal-step-12">
              </div>
            </div>
            <div class="column is-3">
              <div class="step step-grey modal-step unclicked" data-id="13" id="modal-step-13">
              </div>
            </div>
            <div class="column is-3">
              <div class="step step-grey modal-step unclicked" data-id="14" id="modal-step-14">
              </div>
            </div>
            <div class="column is-3">
              <div class="step step-grey modal-step unclicked" data-id="15" id="modal-step-15">
              </div>
            </div>
          </div>

          <div class="columns modal-control-row is-flex">

            <div class="column box modal-control-bar"></div>
            <div class="play-div is-flex">
              <div class="modal-control-play is-flex cn-button" id="cn-button">
                <i class="control-icon fa fa-5 fa-play " id="modal-control-icon" aria-hidden="true"></i>
              </div>
              <div class="cn-wrapper" id="cn-wrapper">
                <ul>
                  <li><a href="#" class="modal-beat-sel" data-id="1"><span>1</span></a></li>
                  <li><a href="#" class="modal-beat-sel" data-id="2"><span>2</span></a></li>
                  <li><a href="#" class="modal-beat-sel" data-id="4"><span>4</span></a></li>
                  <li><a href="#" class="modal-beat-sel" data-id="8"><span>8</span></a></li>
                  <li><a href="#" class="modal-beat-sel" data-id="16"><span>16</span></a></li>
                  <li><a href="#"><span></span></a></li>
                  <li><a href="#"><span></span></a></li>
                  <li><a href="#"><span></span></a></li>
                  <li><a href="#"><span></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <footer class="modal-card-foot">
      <button class="button is-success close-modal" id="publish-riff">Publish</button>
      <button class="button close-modal">Cancel</button>
      <div id="delete" class="is-flex modal-footer-icons">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </div>
    </footer>
  </div>
</div>
