<nav class="navbar is-black">
  <div class="navbar-brand navbar-start">
    <a class="navbar-item brand-text navbar-start" href="/">
      PROJECT NAME
    </a>
  </div>

  <div class="navbar-end">
    <div class="field is-grouped">
      <div class="navbar-item" id="input-searcher-div">
        <div class="field has-addons">
          <div class="control" id="input-searcher">
            <input class="input" type="text" placeholder="Search Riffs..">
          </div>
          <a class="button is-info">
            <span class="icon">
              <i class="fa fa-search"></i>
            </span>
          </a>
        </div>
      </div>

      <div class="navbar-item">
        <a class="button is-primary" href="/login">
          <span class="icon">
            <i class="fa fa-user-circle-o"></i>
          </span>
          <span>LOGIN</span>
        </a>
      </div>
    </div>
  </div>
</nav>