@import url('https://fonts.googleapis.com/css?family=Lobster|VT323');

html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
  background-color: #DCDCDC;
}

input {
  font-weight: 300;
}

p {
  font-weight: 700;
}

/****** Button Styles ******/
.btn-wrapper {
  border-radius: 3px;
  padding: 5px;
  background-image: -webkit-linear-gradient(top, #232323 0%, 
                                            #4A4A4A 100%);
  background-image: -webkit-gradient(linear, left top, 
                                     left bottom, from(#232323), 
                                     to(#4A4A4A));
}

.button {
  color: #818181;
  box-shadow: 0 0 1px 1px rgb(10,10,10);
  background-image: linear-gradient(top, #383838 0%,
                                    #1F1F1F 5%, #161616 100%);
  background-image: -webkit-gradient(linear, left top, 
                                     left bottom, from(#1F1F1F), to(#161616));
  transition: color .3s ease;
}

.button:hover {
    color: #F0F8FF !important;
    text-shadow: 0 0 3px #F0F8FF;
}

.button:active{
    box-shadow: inset 0.5px 0.5px 0px black;
}

/****** NAVBAR STYLES ******/
.navbar-brand {
  font-size: 30px;
  font-style: italic;
  margin-top: 0;
  font-family: 'Lobster', helvetica, arial;
}

.navbar-brand a {
  text-decoration: none;
  color: #666;
  text-shadow: 0 2px 0 black;
  -webkit-mask-image: -webkit-gradient(linear, left top, 
                                       left bottom, from(rgba(0,0,0,1)), 
                                       color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
  transition: text-shadow 0.3s ease;
}

#navbar-logo:hover {
  text-shadow: 0 1px 3px #F0F8FF;
  background-color: #363636;
}

#navbar-input-button {
  margin-left: 3px;
}

/****** STEP COLOR ******/
.active-step-C {
  z-index: 10;
  box-shadow: 0 0 15px 5px red !important;
}

.active-step-D {
  z-index: 10;
  box-shadow: 0 0 15px 5px orange !important;
}

.active-step-E {
  z-index: 10;
  box-shadow: 0 0 15px 5px yellow !important;
}

.active-step-F {
  z-index: 10;
  box-shadow: 0 0 15px 5px green !important;
}

.active-step-G {
  z-index: 10;
  box-shadow: 0 0 15px 5px blue !important;
}

.active-step-A {
  z-index: 10;
  box-shadow: 0 0 15px 5px indigo !important;
}

.active-step-B {
  z-index: 10;
  box-shadow: 0 0 15px 5px violet !important;
}

/****** TILE STYLES ******/
article {
  padding: 0 !important;
  background-color: hsl(200,5%,15%) !important;
}

.tile-shine {
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient( 0deg, hsla(0,0%,100%,0) 0px, 
                                             hsla(0,0%,100%,.09) 50%, 
                                             hsla(0,0%,100%,0) 100% );
}

.tile-riff {
  box-shadow: 0px 4px 4px grey; 
  cursor: pointer;
  position: relative;
}

.tile-riff:hover {
  box-shadow: 4px 10px 6px grey; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  z-index: 3;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.overlay-text {
  text-align: center;
  font-size: 100px;
}

.is-riff {
  visibility: hidden;
}

.tile-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.5rem;
  padding: 5px 10px 0px 10px;
}

.status-bar {
  display: flex;
  justify-content: flex-end;
  height: 20px;
  margin: 0px -5px 5px 0px;
}

.riff-title {
  color: white;
  font-family: 'VT323', monospace;
  background-color: hsl(200,10%,12%);
  background-size: 4px 4px;
  background-image: -webkit-linear-gradient( 0deg, hsla(0,0%,0%,0) 75%, hsla(0,0%,0%,.4) 75% ), 
                    -webkit-linear-gradient( 90deg, hsla(0,0%,0%,0) 75%, hsla(0,0%,0%,.4) 75% );
  width: 100%;
  height: 40px;
  line-height: 35px;
  font-size: 30px;
  border-radius: 40px / 60px;
  border: 2px solid black;
  padding-left: 4px;
}

.content {
  padding: 6.5rem 10px 20px 10px;
}

.step {
  width: 25px;
  height: 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: solid 0.5px black;
  background-color: hsla(0, 0%, 50%, 1);
  transition: border-color ease-out 0.5s;
}

.play-div {
  margin: auto;
}

.control-icon {
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.fa-play {
  padding-left: 5px;
}

.favorite {
  font-size: 20px;
}

#favorite {
  z-index: 10;
  font-size: 20px;
}

.fa-star-o {
  color: #818181;
}

.favorite:hover,
.fa-star {
  color: #F0F8FF;
  cursor: pointer;
  text-shadow: 0 0 3px #F0F8FF;
}

.control-row {
  margin: 10px 0 15px 0;
  justify-content: center;
}

/****** MODAL STYLES ******/
.modal-background {
  background-color: hsla(0, 0%, 70%, 0.9) !important;
}

.modal-card {
  position: relative;
  background-color: hsla(0, 0%, 30%, 1);
  border-radius: 5px;
  padding: 5px;
  background: linear-gradient(hsla(0, 0%, 40%, 1), hsla(0, 0%, 20%, 1));
}

.modal-card-content {
  background-color: hsl(200,5%,15%) !important;
  background-size: 4px 4px;
  background-image: -webkit-linear-gradient( 45deg, hsla(0,0%,0%,0) 0px, 
                                             hsla(0,0%,0%,.10) 50%, hsla(0,0%,0%,0) 100% );
  border-radius: 5px;                                        
}

.modal-card-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: hsla(0,0%,0%,0);
  border: none;
}

.modal-card-body {
  background-color: hsla(0,0%,0%,0);
}

#modal-favorite {
  font-size: 40px;
  margin-right: 15px;
}

#modal-title-input {
  flex: 1;
}

input::placeholder {
  color: white;
  text-shadow: 0 0 0.2px #F5F5F5;
}

.modal-footer-icons {
  flex: 1;
  justify-content: flex-end;
}

.fa-trash-o {
  font-size: 30px;
  color: lightgrey;
}

.fa-trash-o:hover {
  color: red;
  cursor: pointer;
}

/****** MODAL STEP GRID ******/
.modal-step-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  background-image: -webkit-linear-gradient(top, #232323 0%, 
                                            #4A4A4A 100%);
  background-image: -webkit-gradient(linear, left top, 
                                     left bottom, from(#232323), 
                                     to(#4A4A4A));
  width: 55px;
  height: 55px;
  margin: auto;
}

.modal-step:hover {
  z-index: 2;
  box-shadow: 0 0 10px 0px #fff;
}

.modal-step {
  width: 45px;
  height: 45px;
  cursor: pointer;
  color: black;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 0 1px 1px rgb(10,10,10);
  background-color: #B2B2B2;
  background: radial-gradient(farthest-corner at 50% 25%, 
                              hsla(0, 0%, 50%, 1), 
                              hsla(0, 0%, 30%, 1));
}

.unclicked {
  border: none;
}

.clicked {
  border: solid 3px hsla(217, 71%, 53%, 1);
}

/****** MODAL CONTROL BAR ******/
.modal-control-row {
  margin: 20px 0 25px 0;
  padding-bottom: 20px;
  position: relative;
}

.modal-control-bar {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  margin-bottom: 0 !important;
}

.modal-control-play {
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: white;
  margin: auto;
  z-index: 100;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  justify-content: center;
}

/****** MODAL NOTE SELECTOR ******/

.table-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: -webkit-linear-gradient(top, #232323 0%, 
                                            #4A4A4A 100%);
  background-image: -webkit-gradient(linear, left top, 
                                     left bottom, from(#232323), 
                                     to(#4A4A4A));
  padding: 5px;
  margin: auto;
}

#modal-key-table {
  margin-bottom: 0px;
}

.modal-key-table-head {
  padding-top: 0px !important;
}

#percussion-div {
  padding-left: 12px;
  padding-right: 12px;
}

.percussion-icon {
  width: 15px;
  height: 15px;
}

.step-selector {
  cursor: pointer;
}

.step-selector:hover {
  background-color: grey;
}

.picked {
  background-color: hsla(217, 71%, 53%, 0.8) !important;
}

.percussion-btn-div {
  margin-top: 15px !important;
  margin-bottom: 0 !important;
}

.percussion-btn {
  background-color: #B2B2B2;
  background-image: none; 
}

.percussion-btn:hover {
  z-index: 2;
  box-shadow: 0 0 10px 0px #fff;
}

#beat-slide-container {
  margin: auto;
}

/****** NAVBAR STYLES ******/
@media only screen and (max-width: 1024px) {
  .navbar {
    display: flex !important;
    flex-direction: column !important;
  }

  .navbar-start {
    margin: auto !important;
  }

  #navbar-input-item {
    flex: 1 !important;
  }

  #navbar-input-control {
    width: 100% !important;
  }

  .step-wrapper {
    width: 48px;
    height: 48px;
  }

  .step {
    width: 40px;
    height: 40px;
  }

  .modal-step-wrapper {
    width: 48px;
    height: 48px;
  }
}

/****** Modal Controller ******/
.modal-radio {
  -webkit-appearance:none;
  outline: none;
  width: 45px;
  height: 50px;
  position: relative;
  display: inline-block;
  margin: 1.5px;
  border-radius: 3px;
  background-color: #000;
  -webkit-background-clip: padding-box;
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  -webkit-perspective: 200;
}

.modal-radio:before {
  content: attr(data-icon);
  font: 30px/30px sans-serif;
  text-shadow: rgba(255,255,255,0.08) 0 -1px 0;
  line-height: 35px;
  text-align: center;
  position: absolute;
  z-index: 10;
  width: 41px;
  height: 44px;
  margin: 2px;
  border-radius: 1.5px; 
  background-image: -webkit-gradient( linear, left top, left bottom,
    from( hsl(0,0%,20%) ), to( hsl(0,0%,15%) ) );
  border-top: 1px solid rgba(255,255,255,0.15);
}

.modal-radio:after {
  content: "";
  z-index: 12;
  position: absolute;
  margin: 1.5px;
  border-radius: 1.5px;
  left: 3px;
  top: 38px;
  width: 35px;
  height: 3px;
  -webkit-box-shadow: inset rgba(0,0,0,.2) 0 -0.5px 1px, 
                      inset rgba(255,255,255,.1) 0 0.5px 0.5px;
}

/* checked */
.modal-radio:active, .modal-radio:checked {
  -webkit-box-shadow: inset #000 2px 0px 2px, inset #000 -2px 0px 2px;
  background-image: -webkit-gradient(
    linear, left top, left bottom,
    color-stop( 0, hsl(0,0%,10%) ),
    color-stop( 0.14, hsl(0,0%,30%) ),
    color-stop( 0.15, hsl(0,0%,0%) )
  );  
}

.modal-radio:active:before, .modal-radio:checked:before {
  background-image: -webkit-gradient( linear, left top, left bottom,
    from( hsl(0,0%,19%) ), to( hsl(0,0%,12%) )
  );
  z-index: 11;
  border: 0;
  border-top: 1px solid transparent;
  -webkit-border-image: -webkit-gradient(linear, 0% 0%, 100% 0%, 
              color-stop(0,  hsla(200,100%,85%,.05)),
              color-stop(.5, hsl(200,0%,40%)),
              color-stop(1,  hsla(200,100%,80%,.05)) 
              )50% 100%;
  -webkit-box-shadow: 0px 2px 1px 1px hsl(0,0%,13%);            
  -webkit-transform: rotateX(-25deg) scaleX(.94) translateY(0.92px);
}

.modal-radio:checked:before {
  color: #F0F8FF;
  text-shadow:  rgba(0,0,0,.5) 0 1px 1px, #F0F8FF 0 0 5px; 
  -webkit-border-image: -webkit-gradient(linear, 0% 0%, 100% 0%, 
              color-stop(0,  hsla(200,100%,85%,.05)),
              color-stop(.5, hsl(200,20%,50%)),
              color-stop(1,  hsla(200,100%,80%,.05)) 
              )50% 100%;
}

.modal-radio:active:after, .modal-radio:checked:after {
  top: 38px;
  -webkit-transform: scale(.90);
  opacity: .4;
}

/* hover */
.modal-radio:hover {
  cursor: pointer;
}

.modal-radio:checked {
  cursor: default;
}

.modal-radio:hover:before {
  background-image: -webkit-gradient( linear, left top, left bottom,
    from(   hsl(0,0%,19.5%) ), to( hsl(0,0%,14%) )
  );
}
.modal-radio:checked:hover:before {
  background-image: -webkit-gradient( linear, left top, left bottom,
    from(   hsl(0,0%,19%) ), to( hsl(0,0%,12%) )
  );
}

/****** TILE CONTROLLER ******/
.tile-radio {
  -webkit-appearance:none;
  outline: none;
  width: 45px;
  height: 50px;
  position: relative;
  display: inline-block;
  margin: 1.5px;
  border-radius: 3px;
  background-color: #000;
  -webkit-background-clip: padding-box;
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  -webkit-perspective: 200;
}

.tile-radio:before {
  content: attr(data-icon);
  font: 30px/30px sans-serif;
  line-height: 35px;
  text-align: center;
  position: absolute;
  z-index: 10;
  width: 41px;
  height: 44px;
  margin: 2px;
  border-radius: 1.5px; 
  background-color: hsl(0,0%,20%);
  border-top: 1px solid rgba(255,255,255,0.15);
}

.tile-radio:checked:before {
  color: #F0F8FF;
}

.tile-radio:active:after, .tile-radio:checked:after {
  top: 38px;
  -webkit-transform: scale(.90);
  opacity: .4;
}

/* hover */
.tile-radio:hover {
  cursor: pointer;
}

.tile-radio:checked {
  cursor: default;
}

.tile-radio:hover:before {
  background-color: hsl(0,0%,14%);
}

.tile-radio:checked:hover:before {
  background-color: hsl(0,0%,14%);
}

/****** SLIDER ******/

input[type="range"] {
  -webkit-appearance: none; 
  outline: none;
  width: auto;
  height: 5px;
  border-radius: 1px;
  position: relative;
  background-color: #000;
  -webkit-background-clip: padding-box;
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  cursor: ew-resize;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  position: relative;
  z-index: 1;
  width: 10px;
  height: 20px;
  border-radius: 1px / 2px ;
  
  background-image: -webkit-gradient( linear, left top, right top,
    color-stop( 0,    hsl(0,0%,15%) ), 
    color-stop( .16,  hsl(0,0%,22%) ), 
    color-stop( .18,  hsl(0,0%,30%) ), 
    color-stop( .2,   hsl(0,0%,26%) ), 
    
    color-stop( .42,  hsl(217,60%,30%) ), 
    color-stop( .44,  hsl(217,0%,15%) ),
    color-stop( .46,  hsl(217,100%,50%) ), 
    color-stop( .54,  hsl(217,100%,50%) ), 
    color-stop( .56,  hsl(217,0%,15%) ), 
    color-stop( .58,  hsl(217,60%,30%) ), 
    
    color-stop( .8,   hsl(0,0%,26%) ),
    color-stop( .82,  hsl(0,0%,30%) ), 
    color-stop( .84,  hsl(0,0%,22%) ), 
    color-stop( 1,    hsl(0,0%,15%) ) 
  );
}
