<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Riffster.io Sign Up</title>
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" integrity="sha256-HEtF7HLJZSC3Le1HcsWbz1hDYFPZCqDhZa9QsCgVUdw=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/login.css" />
</head>
<body>
  <% include ../partials/navbar %>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Sign Up</h3>
          <p class="subtitle has-text-grey">Please sign up to proceed.</p>
          <div class="box">
            <figure class="avatar">
              <div id="avatar-div" class="step">
                <img class="color-icon" src="/assets/img/color_icon.png">
              </div>
            </figure>
            <form action="/api/users/new" method="post">
              <div class="field">
                <div class="control">
                  <input class="input is-large" name="username" id="username" type="text" placeholder="Username" autofocus="">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-large" name="displayName" id="displayName" type="text" placeholder="Full Name" autofocus="">
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <input class="input is-large" name="email" id="email" type="text" placeholder="Email">
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <input class="input is-large" name="password" id="password" type="password" placeholder="Password">
                </div>
              </div>

              <button type="submit" id="submit-button" class="button is-block is-info is-large">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script async type="text/javascript" src="/assets/js/login.js"></script>
</html>
