<div class="column is-mobile is-half-tablet is-one-quarter-desktop">
  <div class="tile is-parent">
    <article class="tile is-child box">
    	<div class="overlay session">
    		<div class="overlay-text"> + </div>
    	</div>
      <div class="content">
      	<div class="status-bar">
      		<i class="fa fa-star-o favorite" id="favorite" aria-hidden="true"></i>
      	</div>
        <p class="title">{{title}}</p>
        <div class="columns is-flex">
          <div class="column is-3">
            <div class="step step-grey"></div>
          </div>
          <div class="column is-3">
            <div class="step step-grey"></div>
          </div>
          <div class="column is-3">
            <div class="step step-grey"></div>
          </div>
          <div class="column is-3">
            <div class="step step-grey"></div>
          </div>
        </div>
        <div class="columns is-flex">
          <div class="column">
            <div class="step step-blue"></div>
          </div>
          <div class="column">
            <div class="step step-blue"></div>
          </div>
          <div class="column">
            <div class="step step-blue"></div>
          </div>
          <div class="column">
            <div class="step step-blue"></div>
          </div>
        </div>
        <div class="columns is-flex">
          <div class="column is-3">
            <div class="step step-grey"></div>
          </div>
          <div class="column is-3">
            <div class="step step-grey"></div>
          </div>
          <div class="column is-3">
            <div class="step step-grey"></div>
          </div>
          <div class="column is-3">
            <div class="step step-grey"></div>
          </div>
        </div>
        <div class="columns is-flex">
          <div class="column is-3">
            <div class="step step-grey"></div>
          </div>
          <div class="column is-3">
            <div class="step step-grey"></div>
          </div>
          <div class="column is-3">
            <div class="step step-grey"></div>
          </div>
          <div class="column is-3">
            <div class="step step-grey"></div>
          </div>
        </div>
        <div class="columns control-row is-flex">
          <div class="column box control-bar"></div>
            <div class="control-play is-flex">
              <i class="fa fa-play fa-5" aria-hidden="true"></i>
            </div>
          </div>
      </div>
    </article>
  </div>
</div>